/* UTILITIES */
* {
    margin: 0;
    padding: 0;
}


.bg{
background-image: url('file:///D:/Projects/New%20folder/images/background.png');
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 35px; */
    color: black;


}

.nav-links a {
    color: black;
}

/* LOGO */
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    padding-left: 8%;
    display: flex;
}

/* NAVBAR MENU */
.menu {
    list-style: none;

  margin: 0;
  padding-right: 100px;
    display: flex;
    gap: 1em;
    font-size: 20px;
    font-weight: bold;
}

.menu li a:hover {
    color: rgb(193, 21, 130);
    
    
}

.menu li {
    padding: 5px 14px;
}

/* RESPONSIVE NAVBAR MENU STARTS */

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
}

/* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        right: 0;
        left: 0;
        text-align: right;
        
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }


}
